.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.bg1
  background-color: #D1BCFF !important 
.bg2 
  background-color: #DBDDE5 
.bg3
  background-color: #673AB7  
.bg4
  background-color: #FFD54F
.bg5
  background-color: #F5F1FF 
.bg6
  background-color: #E8E8E8
.bg7
  background-color: #727997 
.bg8
  background-color: #DEE4F0 
.bg9
  background-color: #D1D4DD
.bg10
  background-color: #A07CDF 


.tarjeta--morado
  background-color: #D1BCFF 