.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)


.banner-interno__fondo    
  background-image: url("../assets/curso/temas/mini-portada.png") !important
.fa-ul
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem

.bg1
  background-color: #D1BCFF !important
.bg2 
  background-color: #DBDDE5 
.bg3
  background-color: #673AB7  
.bg4
  background-color: #FFD54F
.bg5
  background-color: #F5F1FF 
.bg6
  background-color: #E8E8E8
.bg7
  background-color: #727997 
.bg8
  background-color: #DEE4F0 
.bg9
  background-color: #D1D4DD
.bg10
  background-color: #A07CDF 
.bg11
  background-color: #E2EBF3 
.bg12
  background-color: #B0C0D2 
.bg13
  background-color: #DCD3EF
.bg14
  background-color: #EAE2C7
.bg15
  background-color: #ECECEC
.bg16
  background-color: #FEFEFE  
.bg17
  background-color: #F2F2F2 
.bg18
  background-color: #F3F9FF  

.texto1
  color: #FFD54F !important


.tarjeta--morado
  background-color: #D1BCFF 
.tarjeta--azul
  background-color: #F3F9FF 
.tarjeta--blanca
  background-color: #FFFFFF 



.mnl-1
  margin-left: -8.5% 
  z-index: 9999
  @media (max-width: 576px)
    margin-left: 0px
.division
  border-top: 1px solid #D2D2D2    
  margin: 40px 0px